<%= form_for [@purchase, @payment], url: purchase_purchase_payments_path(@purchase), remote: true, multiple: true do |f| %>
  <div class="item form-group<%= @payment.errors[:amount].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :amount, "Monto recibido: " %>
    <div class="input-group">
      <%= f.number_field :amount, {class: "form-control", placeholder: "Introduzca el monto entregado como pago por la compra...", step: :any} %>
      <%if @payment.errors[:amount].any? %>
        <p class="bg-danger"><%= @payment.errors[:amount].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>
  <%= f.submit "Registrar Pago", class: "btn btn-primary" %>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
<% end %>
