<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Registro de montos entregados como pago por la compra N°<%= @purchase.id %></h1>
<%= link_to purchases_path, { type:"button", class: 'btn btn-secondary mb-2 mb-md-0 mr-md-2' } do %>
  <span class="fa fa-arrow-left"></span>
  Volver atrás
<% end %>
<br />
<br />
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="tabla" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Realizado por</th>
            <th>Monto</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <% if @purchase.purchase_payments.empty? %>
            <tr>
              <td> No hay pagos registrados </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          <% else %>
            <% @purchase.purchase_payments.each do |payment| %>
              <tr id="pago_<%= payment.id %>">
                <td> <%= payment.id %> </td>
                <td> <%= payment.user.email %> </td>
                <td> $<%= payment.amount %> </td>
                <td> <%= payment.created_at.in_time_zone('Buenos Aires').strftime('%d/%m/%Y %H:%M') %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
