<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item <%= 'disabled' if modulo.current_page == 1 %>">
      <%= link_to 'Atrás', url_for(page: modulo.current_page - 1), class: 'page-link' %>
    </li>
    <% modulo.total_pages.times do |i| %>
      <li class="page-item <%= 'active' if modulo.current_page == i + 1 %>" aria-current="page">
        <%= link_to i + 1, url_for(page: i + 1), class: 'page-link' %>
      </li>
    <% end %>
    <li class="page-item <%= 'disabled' if modulo.current_page == modulo.total_pages %>">
      <%= link_to 'Siguiente', url_for(page: modulo.current_page + 1), class: 'page-link' %>
    </li>
  </ul>
</nav>
