<% new_row = capture do %>
  <tr id="cliente_<%= @client.id %>">
    <td><%= @client.name %></td>
    <td><%= @client.dir %></td>
    <td><%= @client.phone %></td>
    <td><%= link_to "Editar", edit_client_path(@client), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @client, remote: true, method: :delete, data: { confirm: "¿Borrar cliente: #{@client.name}?"}, class: "btn btn-danger btn-xs" %></td>
  </tr>
<% end %>
$('#modalClientes').modal('toggle');
$('#tablaClientes').append('<%= j new_row %>');
