<!-- Page Heading -->
<h1 class="mb-2 text-gray-800 fs-3">Clientes</h1>
<!-- DataTales Example -->
<div>
  <!-- prettier-ignore -->
  <%= link_to new_client_path, {remote: true, class: "btn btn-info", id: "anadir-cliente-btn"}  do %>
  <span class="fas fa-plus-square"> </span>
  <% end %>
</div>
<br />
<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="tablaClientes"
        style="width: 100%"
      >
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |clie| %>
          <tr id="cliente_<%= clie.id %>">
            <td><%= clie.name %></td>
            <td><%= clie.dir %></td>
            <td><%= clie.phone %></td>
            <td>
              <!-- prettier-ignore -->
              <%= link_to "Editar", edit_client_path(clie), html_options = {class: "btn btn-info btn-xs", remote: true} %>
              <%= link_to "Borrar", clie, remote: true, method: :delete, data: { confirm: "¿Borrar cliente: #{clie.name}?"}, class: "btn btn-danger btn-xs" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'modal_clientes' %>
