<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-4">
          <div class="row-md-4 py-2">
            <div class="card bg-primary text-white h-100">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="me-3">
                    <div class="font-weight-bold">Balance</div>
                    <h3 class="m-0 font-weight-bold text-wrap">$<%= @balance.amount %></h3>
                  </div>
                  <i class="fas fa-wallet fa-2x"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="cards">
            <!-- Pending Money Card Example -->
            <div class="row-md-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                        Dinero pendiente de pago
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        $<%= @money_outstading_to_pay %>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-arrow-left fa-1x text-gray-300"></i>
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="row-md-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Gastos (Mensuales)
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        $<%= @monthly_costs %>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-arrow-left fa-1x text-gray-300"></i>
                      <i class="fas fa-calendar-day fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Annual) Card Example -->
            <div class="row-md-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Gastos (Anuales)
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        $<%= @annual_costs %>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-arrow-left fa-1x text-gray-300"></i>
                      <i class="fas fa-calendar-alt fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="row shadow mb-4">
            <!-- Pending Money Card Example -->
            <div class="col-md-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                        Dinero pendiente de cobro
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        $<%= @money_outstanding %>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-arrow-right fa-1x text-gray-300"></i>
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-md-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                        Ganancias (Mensuales)
                      </div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$<%= @monthly_earnings %></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-arrow-right fa-1x text-gray-300"></i>
                      <i class="fas fa-calendar-day fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Annual) Card Example -->
            <div class="col-md-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                        Ganancias (Anuales)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$<%= @annual_earnings %></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-arrow-right fa-1x text-gray-300"></i>
                      <i class="fas fa-calendar-alt fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Ventas</h6>
            </div>
            <div class="card-body">
              <%= line_chart Sale.group_by_day(:created_at).count, points: false %>
            </div>
          </div>
        </div>
      </div>
      <!-- /end row -->
      <div class="row">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Ballestra Software ©</h6>
          </div>
          <div class="card-body">
            <div class="text-center">
              <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="<%= image_path 'undraw_posting_photo.svg' %>" alt="Descriptive alt text">
            </div>
            <p>
              Ciertas funcionalidades de la aplicación están en desarrollo, por lo que
              algunas secciones no estarán disponibles. Esperamos que disfrute de la
              experiencia de usuario y que pueda realizar sus tareas con normalidad.
              ¡Gracias por su comprensión!
            </p>
          </div>
        </div>
      </div>
      <!-- /end row -->
    </div>
    <!-- /end container-fluid -->
  </div>
  <!-- /end page-content -->
</div>
<!-- /end main-content -->
