<div class="container-fluid">
  <h1> <%= @balance.amount %> </h1>
  <div class="row">
    <div class="col">
      <!-- Pending Money Card Example -->
      <div class="row-xl-3 row-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                  Dinero pendiente de cobro
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  $<%= @money_outstanding %>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Earnings (Monthly) Card Example -->
      <div class="row-xl-3 row-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  Ganancias (Mensuales)</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">$<%= @monthly_earnings %></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar-day fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Earnings (Annual) Card Example -->
      <div class="row-xl-3 row-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                  Ganancias (Anuales)</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">$<%= @annual_earnings %></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar-alt fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <!-- Pending Money card to pay-->
      <div class="row-xl-3 row-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                  Dinero pendiente de pago a proveedores
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">
                  $<%= @money_outstading_to_pay %>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Earnings (Monthly) Card Example -->
      <div class="row-xl-3 col-row-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                  Gastos (Mensuales)</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">$<%= @monthly_costs %></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar-day fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Earnings (Annual) Card Example -->
      <div class="row-xl-3 row-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                  Gastos (Anuales)</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">$<%= @annual_costs %></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-calendar-alt fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Row CHARTS -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7 d-none d-lg-block">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Ventas</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <%# <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> %>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <div class="chart-pie pt-4 pb-2">
              <%= line_chart Sale.group_by_day(:created_at).count, points: false %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ./content-row -->
  <div class="">
    <!-- Illustrations -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ballestra Software ©</h6>
      </div>
      <div class="card-body">
        <div class="text-center">
          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="<%= image_path 'undraw_posting_photo.svg' %>" alt="Descriptive alt text">
        </div>
        <p>
          Ciertas funcionalidades de la aplicación están en desarrollo, por lo que
          algunas secciones no estarán disponibles. Esperamos que disfrute de la
          experiencia de usuario y que pueda realizar sus tareas con normalidad.
          ¡Gracias por su comprensión!
        </p>
        <%# <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
          constantly updated collection of beautiful svg images that you can use
          completely free and without attribution!</p> %>
        <%# <a target="_blank" rel="nofollow" href="https://undraw.co/">
          Browse Illustrations on unDraw &rarr;
        </a> %>
      </div>
    </div>
  </div>
</div>
<!-- ./container-fluid -->
