<%= form_for @product, multipart: true do |f| %>
  <div class="form-group">
    <h4 class="control-label">Datos del producto:</h4>
  </div>
  <div class="item form-group<%= @product.errors[:image_product].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :image_product, "Imagen del producto: " %>
    <%= image_tag(@product.image_product, size: "150x150") if @product.image_product? %>
    <div class="input-group">
      <%= f.file_field :image_product, {:class=> "form-control" } %>
      <%if @product.errors[:image_product].any? %>
        <p class="bg-danger"><%= @product.errors[:image_product].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>
  <div class="item form-group<%= @product.errors[:cod].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :cod, "Codigo del producto: " %>
    <div class="input-group">
      <%= f.text_field :cod, {class: "form-control", :placeholder=>"Introduzca el codigo del producto..."} %>
      <%if @product.errors[:cod].any? %>
        <p class="bg-danger"><%= @product.errors[:cod].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>
  <div class="item form-group<%= @product.errors[:name].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :name, "Nombre del producto: " %>
    <div class="input-group">
      <%= f.text_field :name, {:class=> "form-control", :placeholder=>"Introduzca el nombre del producto..."} %>
      <%if @product.errors[:name].any? %>
        <p class="bg-danger"><%= @product.errors[:name].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>
  <div class="item form-group<%= @product.errors[:description].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :description, "Descripción del producto: " %>
    <div class="input-group">
      <%= f.text_area :description, {class: "form-control", :placeholder=>"Introduzca la descripción del producto..."} %>
      <%if @product.errors[:description].any? %>
        <p class="bg-danger"><%= @product.errors[:description].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>
  <!-- unit_cost -->
  <div class="item form-group<%= @product.errors[:unit_cost].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :unit_cost, "Ingrese el precio de compra unitario del producto: " %>
    <div class="input-group">
      <%= f.number_field :unit_cost, step: :any, class: "form-control", placeholder: "Ej: 1000" %>
      <%if @product.errors[:unit_cost].any? %>
        <p class="bg-danger"><%= @product.errors[:unit_cost].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>
  <!-- profit_margin -->
  <div class="item form-group<%= @product.errors[:profit_margin].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :profit_margin, "Introduzca el margen de ganancia para el producto: " %>
    <div class="input-group">
      <%= f.number_field :profit_margin, step: :any, class: "form-control", placeholder: "Ej: 0.40" %>
      <%if @product.errors[:profit_margin].any? %>
        <p class="bg-danger"><%= @product.errors[:profit_margin].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>
  <!-- iva_amount -->
  <div class="item form-group<%= @product.errors[:iva_amount].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :iva_amount, "Introduzca el monto del IVA: " %>
    <div class="input-group">
      <%= f.number_field :iva_amount, step: :any, class: "form-control", placeholder: "Ej: 0.21" %>
      <%if @product.errors[:iva_amount].any? %>
        <p class="bg-danger"><%= @product.errors[:iva_amount].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>
  <div class="item form-group<%= @product.errors[:existence].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :existence, "Stock inicial: " %>
    <div class="input-group">
      <%= f.number_field :existence, {class: "form-control", :placeholder=>"Stock inicial"} %>
      <%if @product.errors[:existence].any? %>
        <p class="bg-danger"><%= @product.errors[:existence].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>
  <div class="item form-group<%= @product.errors[:supplier].any? ? ' has-error has-feedback' : '' %>">
    <%= f.label :supplier, "Proveedor: " %>
    <div class="input-group">
      <%= collection_select(:product, :supplier_id, @suppliers, :id, :name, {:prompt => 'Seleccione un proveedor'}, { class: "form-control" })%>
      <%if @product.errors[:supplier].any? %>
        <p class="bg-danger"><%= @product.errors[:supplier].to_s[/\w([^"]*)/] %></p>
      <% end %>
    </div>
  </div>
  <div class="actions col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
    <%= f.submit @product.new_record? ? "Crear Producto" : "Actualizar Producto", :class => "btn btn-success"%>
  </div>
<% end %>
