<% new_row = capture do %>
  <tr id="producto_<%= @product.id %>" >
    <td><%= image_tag @product.image_product, size: "50x50", class: "rounded-circle" if @product.image_product? %></td>
    <td><%= @product.cod %></td>
    <td><%= @product.name %></td>
    <td><%= @product.existence %></td>
    <td>$<%= @product.selling_unit_price %></td>
    <td>$<%= @product.unit_cost %></td>
    <td><%= @product.profit_margin * 100 %>%</td>
    <td><%= @product.iva_amount * 100 %>%</td>
    <td><%= @product.supplier != nil ? @product.supplier.name : "No tiene proveedor" %></td>
    <td><%= @product.last_price_update_date %></td>
    <td><%= @product.last_stock_update_date %></td>
    <td>
      <div class="btn-group" role="group">
        <%= link_to edit_purchase_price_product_path(@product),  html_options = {class: "btn btn-warning btn-xs", remote: true} do %>
          <i class="fas fa-tags"></i>
          Act. PU de Compra
        <% end %>
        <%= link_to edit_stock_product_path(@product), html_options = {class: "btn btn-info btn-xs", remote: true} do %>
          <i class="fas fa-cubes"></i>
          Act. Stock
        <% end %>
        <%= link_to edit_product_path(@product), data: { modal: 'modalProducts' }, class: "btn btn-primary btn-xs", remote: true do %>
          <i class="fas fa-edit"></i>
          Editar
        <% end %>
        <%= link_to @product, remote: true, method: :delete, data: { confirm: "¿Borrar producto: #{@product.name}?"}, class: "btn btn-danger btn-xs" do%>
          <i class="fas fa-trash-alt"></i>
          Borrar
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
$('#modalProductos').modal('toggle');
$('#tablaProductos').append('<%= j new_row %>');
